.segment-section-tabs-container {
    display: flex;
    font-family: lato, sans-serif;
    gap: 15%;
}

.segment-section-tabs-list {
    width: 30%;
    background-color: #fff;
    color: #000;
    padding: 20px;
    padding-left: 10%;
}

.segment-section-tabs-list h3 {
    font-size: 16px;
    color: #000000;
    margin: 10px 0;
}

.segment-section-tab-item {
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.segment-section-tab-item.active {
    background-color: #f1cb35;  
    color: #000; 
    font-weight: bold;
    padding: 5px;
}

.segment-section-tab-item:hover {
    background-color: #f1cb35;  
    color: #000;  
}

.segment-section-tab-content {
    width: 35%;
    padding: 20px;
    position: relative;
    padding-right: 10%;
}

.segment-section-tab-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 15px; 
}

.segment-section-tab-content p {
    font-size: 16px;
    color: #666;  
    margin-bottom: 20px;
}

.segment-section-content-item img {
    width: 250px;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    object-fit: cover;
}

.segment-section-navigation-arrows {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.segment-section-arrow {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #000;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}

.segment-section-content-item {
    display: none;
}

.segment-section-content-item.active {
    display: block;
}

.segment-section-content-item p {
    width: 340px;  
}

@media (max-width: 768px) {
    .segment-section-tabs-container {
        flex-direction: column;  
        gap: 20px;
    }

    .segment-section-tabs-list {
        width: 100%;  
        margin-bottom: 20px;  
    }

    .segment-section-tab-content {
        width: 100%;  
    }

    .segment-section-tabs-list h3 {
        font-size: 14px;  
    }

    .segment-section-tab-content h3 {
        font-size: 16px;  
    }

    .segment-section-tab-content p {
        font-size: 14px;  
    }

    .segment-section-content-item img {
        border-radius: 0;
    }
}
